.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.product-image{

}
.description{
    display: flex;
    flex-direction: column;
}
.product{
    justify-content: space-between;
}